protobuf
transformers==4.41.2
cpm-kernels
huggingface-hub
langchain
langchain-community
langchain-core
langsmith
lxml
numpy
tokenizers
urllib3
peft
datasets
flask
torch
pandas
trl
typing
optimum[openvino,nncf]
onnx
py-cpuinfo
pyaudio